* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body color

html, body {
    width: 100%;
    height: 100%;
    background-color: $Dark-cyan;  
    position: relative;
    overflow: hidden;
}

 // cirle positions and size

img {
    position: absolute;
    width: 400px;
    height: 400px;
}

.top-circle {
    left: -10em;
    top: -10em;
}

.btm-circle {
    right: -10em;
    bottom: -10em;
}



// svg {
//     position: absolute;
    
// }


// .top-img { 
//     width: 100%;
//     height: 70%;

//     ellipse {
//         transform: translate(-40%, -50%) rotate(10deg);
//         width: 100%;
//         height: 100%;
//         cx: 70%;
//         cy: 60%;
//         rx: 70%;
//         ry: 60%;
//     }
// }
// .btm-img {
//     right: 0;
//     top: 110%;

//     ellipse{
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         right: 0;
//     }
// }